@import "tailwindcss";
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}


/*for search live scroll bar-y */
.custom-scrollbar {
  scrollbar-width: thin;              /* Firefox */
  scrollbar-color: #8b8683 #1f2937;   /* thumb color | track color */
}

/* Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1f2937; /* track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #8b8683; /* thumb color */
  border-radius: 4px;
  border: 2px solid #1f2937; /* optional: padding effect */
}

/* for filters scrollbar-x */
.customScrollBar {
  scrollbar-width: thin;              /* Firefox */
  scrollbar-color: #535150 #11151a;   /* thumb color | track color */
}

/* Chrome, Edge, Safari */
.customScrollBar::-webkit-scrollbar {
  width: 8px;
}

.customScrollBar::-webkit-scrollbar-track {
  background: #0a0c0f; /* track color */
}

.customScrollBar::-webkit-scrollbar-thumb {
  background-color: #504e4e; /* thumb color */
  border-radius: 4px;
  border: 2px solid #121416; /* optional: padding effect */
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
